@charset "utf-8";
@font-face {
    font-family: 'gobCLBold';
    src: url('font/gobcl_bold-webfont.eot');
    src: url('font/gobcl_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/gobcl_bold-webfont.woff') format('woff'),
         url('font/gobcl_bold-webfont.ttf') format('truetype'),
         url('font/gobcl_bold-webfont.svg#gobCLBold') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'gobCLLight';
    src: url('font/gobcl_light-webfont.eot');
    src: url('font/gobcl_light-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/gobcl_light-webfont.woff') format('woff'),
         url('font/gobcl_light-webfont.ttf') format('truetype'),
         url('font/gobcl_light-webfont.svg#gobCLLight') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'gobCLRegular';
    src: url('font/gobcl_regular-webfont.eot');
    src: url('font/gobcl_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/gobcl_regular-webfont.woff') format('woff'),
         url('font/gobcl_regular-webfont.ttf') format('truetype'),
         url('font/gobcl_regular-webfont.svg#gobCLRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

body {
	margin: 0;
	padding: 0;
	color: #000;
	font-family: 'gobCLRegular', Arial, Helvetica, sans-serif;
	font-size: 80.5%;
	line-height: 1.4;
	/*background: url("../images/bg_new.png") repeat scroll 0 0 #F5F5F5;*/
}

h1, h2, h3, h4, h5, h6 {
	margin-top: 0;
	padding-right: 5px;
	padding-left: 0px;
	color: #2571B7;
	font-weight: normal;
}
h1 {
	font-size: 2.143em;
}
h2 {
	font-size: 1.9em;
	/*margin-top: 20px;*/
	margin-bottom:10px;
}
p {
	margin-top: 0;
	padding-right: 5px;
	padding-left: 5px;
}
a img { 
	border: none;
	cursor:pointer;
}
a {
	color: #006CB7;
	text-decoration: none; 
}
a:hover, a:active, a:focus { 
	text-decoration: none;
}
textarea.observaciones { 
	height: 115px;
    width: 728px;
}
#identificacion_documentos { 
	height: 115px;
    width: 728px;
}
#observaciones_adicionales{
     height: 40px;
     width: 728px;
}
#observacion{
     height: 40px;
     width: 100%;
}

#obs_rechazo{
     height: 40px;
     width: 728px;
}



table.alerta {
	
}
table.alerta td {
	border: none;
	background-color: #FFFFCA;
	border: 1px solid #FFE064;
	background-image: url(../images/alerta.png);
	background-repeat: no-repeat;
	padding: 7px 27px;
	background-position: 5px center;
}
table td, table th {
	/*text-align: left;*/
	vertical-align: text-top;
}
.container {
	width: 100%;
	/*background: #FFF;*/
	margin: 0 auto; 
	/*-moz-box-shadow: 0 0 5px #D8D8D8;
	-webkit-box-shadow: 0 0 5px #D8D8D8;
	box-shadow: 0 0 5px #D8D8D8;*/
	background-image: url(../images/logo_footer2.png);
	background-repeat: no-repeat;
	background-position: 99% top;/*894px top;*//*804*/
	margin-right:2px;
	margin-left:2px;
}

.content {
	padding: 15px 0 0 0;
}

.clearfloat { 
	clear:both;
	height:0;
	font-size: 1px;
	line-height: 0px;
}
p.derecha, td.derecha, th.derecha {
	text-align: right;	
}
p.centro, td.centrar, th.centrar {
	text-align: center;
}
/*HEADER*/
#header {
	padding: 10px;
	/*-moz-box-shadow: 0 0 5px #D8D8D8;
	-webkit-box-shadow: 0 0 5px #D8D8D8;
	box-shadow: 0 0 5px #D8D8D8;*/
	background-image: url(../images/logo2.png);
	background-position:right;
	height:60px;
	border-bottom:solid;
	border-bottom-color:#CCCCCC;
	background-repeat:no-repeat;
	margin-right:2px;
	margin-left:2px;
}
#header .logo {
    float: left;
	margin-left: 10px;
}
#header .logo h1 {
	/*background-image: url(../images/banner2.jpg);*/
	background-repeat: no-repeat;
	height: 0 !important;
	overflow: hidden;
	padding: 76px 0 0;
	width: 458px;
}
#header .mensaje {
	float: right;
	font-size: 	1.214em;
	color: #063787;
	/*width: 475px;*/
}
#header h1 {
	clear: both;
	font-size: 1.286em;
	text-align: right;
	padding-top: 10px;
}
#header .buttons {
  background-image: url("../images/bg_tools.png");
  background-repeat: repeat-x;
  border: 1px solid #CCCCCC;
  border-radius: 3px 3px 3px 3px;
  float: right;
  margin-bottom: 5px;
  min-width: 340px;
}
#header .buttons a{
	display: inline-block;
	font-size: 0.857em;
	line-height: 30px;
	padding-right: 10px;
	padding-left: 10px;
	border-right: solid 1px #CCC;
	color: #063787;
	text-decoration: none;
}
#header .buttons a.ayuda{
	background-image: url(../images/ayuda.png);
	background-repeat: no-repeat;
	border-right: none;
	background-position: 10px center;
	padding-left: 23px;
}
#header .buttons a:hover{
	font-weight: bold;
}
/*CONTENIDO*/
#contenido {
 	/*float: left;
    margin: 10px 15px;*/
    min-width: 690px;
	/*max-width: 760px;*/
	max-width: 98%;
}
#contenido .item_home {
	float: left;
	padding: 0 5px;
    width: 220px;
}
#contenido .item_home h2 {
	font-size: 1.357em;
	color: #063787;
	font-family: "gobCLLight";
	padding-left: 0;
}
#contenido .item_home img {
	margin-bottom: 15px;
}
#contenido .banner {
	height: 122px;
	width: 641px;
	margin-top: 20px;
	margin-bottom: 20px;
	border: 1px solid #CCC;
	background: url("../images/bg_banner.png") repeat-x scroll 0 0 #F5F5F5;
	color: #006CB7;
	padding: 20px;
}
#contenido .banner .txt {
	float: left;
}
#contenido .banner .txt h3 {
	font-size: 1.429em;
	margin-bottom: 0;
}
#contenido .banner .txt p.bajada {
	background-image: url(../images/linea_banner.png);
	background-repeat: no-repeat;
	background-position: left bottom;
	margin-bottom: 0;
}
#contenido .banner .txt div {
	padding: 2px 5px;
}
#contenido .banner .miniatura {
	float: right;
}
#contenido .banner .miniatura a {
	display: block;
	text-align: center;
	font-family: gobCLBold;
	text-decoration: none;
	font-size: 1.286em;
}
#contenido .banner .miniatura a:hover {
	text-decoration: underline;
}
/*MENU2*/
#menu_top_bg {
	background-color: #FAFAFA;
    border: 1px solid #EAEAEA;
    border-radius: 5px 5px 5px 5px;
    padding: 3px;
	float: left;
	margin-top: 10px;
	margin-right: 10px;
    width: 169px;
}

#menu_top_bg h2 {
	font-family: gobCLLight;
	font-size: 1.143em;
	color: #063787;
	line-height: 35px;
	background-image: url(../images/sidebar-h2.png);
	background-repeat: no-repeat;
	margin: 0;
	text-align: center;
}
#menu_top_bg .login {
	background-color: #EDF1F5;
	padding: 5px;
}
#menu_top_bg .login #form1 label {
	display: inline-block;
	width: 60px;
}
/*#menu_top_bg .login #form1 input#password, #menu_top_bg .login #form1 input#login {
	border: 1px solid #CCC;
	border-radius: 3px 3px 3px 3px;
	padding: 2px;
	width: 150px;
}
#menu_top_bg .login #form1 input#password:focus, #menu_top_bg .login #form1 input#login:focus {
	border: 2px solid #DFB86C;
}
#menu_top_bg .login #form1 #Ingresar {
	background-color: #FFFFFF;
	border: 1px solid #DADADA;
	border-radius: 3px 3px 3px 3px;
	color: #404040;
	cursor: pointer;
	margin: 5px;
	padding: 3px 5px;
}
#menu_top_bg .login #form1 .recordar {
	width: auto;
}
#menu_top_bg .login .registro {
	font-family: gobCLBold;
	font-size: 1em;
	line-height: 38px;
	background-image: url(../images/btn_registro.png);
	background-repeat: no-repeat;
	text-align: center;
	color: #FFF;
	display: block;
	height: 41px;
	width: 162px;
	text-decoration: none;
	margin-top: 10px;
	margin-left: 40px;
}
/*MENU*/
#menu {
	background-color: #FAFAFA;
    border: 1px solid #EAEAEA;
    border-radius: 5px 5px 5px 5px;
    padding: 3px;
	/*float: left;
	margin-top: 10px;
	margin-right: 10px;*/
    width: 238px;
}

#menu h2 {
	font-family: gobCLLight;
	font-size: 1.143em;
	color: #063787;
	line-height: 35px;
	background-image: url(../images/sidebar-h2.png);
	background-repeat: no-repeat;
	margin: 0;
	text-align: center;
}
/*#menu .login {
	background-color: #EDF1F5;
	padding: 5px;
}
#menu .login #form1 label {
	display: inline-block;
	width: 70px;
}
#menu .login #form1 input#password, #menu .login #form1 input#login {
	border: 1px solid #CCC;
	border-radius: 3px 3px 3px 3px;
	padding: 2px;
	width: 120px;
}
#menu .login #form1 input#password:focus, #menu .login #form1 input#login:focus {
	border: 1px solid #DFB86C;
}
#menu .login #form1 #Ingresar {
	background-color: #FFFFFF;
	border: 1px solid #DADADA;
	border-radius: 3px 3px 3px 3px;
	color: #404040;
	cursor: pointer;
	margin: 5px;
	padding: 3px 5px;
}*/
.registro {
	color: #FFF;
	background-color: #EE4144;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	padding: 5px 10px;
}
.login p {
	text-align: center;
	margin: 20px 0;
}/*
#footer {
	text-align: left;
	padding: 0 10px;
	color: #006CB7;
	font-weight: bold;
	background-image: url(../images/bg_footer.png);
	background-repeat: repeat-x;
	line-height: 30px;
	margin-top: 0px;
	background-position: left bottom;
	border-top: 1px solid #F3F3F3;
}*/
#footer {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 20px;
  background-color: white;
  width: 100%;
  background-image: url(../images/bg_footer.png);
  background-repeat: repeat-x;
}
body {
  margin-bottom: 40px;
}
#footer a {
	text-decoration: none;
}
#footer .logo {
	float: right;
	height: 15px;
	background-image: url(../images/logo_footer2.png);
	background-repeat: no-repeat;
	width: 80px;/*168*/
	margin-right:5px;
}
/*****************RR*********/
.menu_top_bg {
    color: #006CB7;
    font-family: 'gobCL',Verdana;
    font-size: 1em;
    font-weight: bold;
    height: 22px;
    margin-bottom: 1px;
    padding-left: 8px;
    padding-top: 2px;
    text-align: left;
    width: 168px;
}

.sub_menu ul
{
	padding:0px;
	margin:0px;
	font-family:Verdana;/*'gobCL',*/
	font-size: 12px;
}

.sub_menu ul li
{
	font-family: Verdana;/*'gobCL',*/
	font-size: 1em;
	color:#FFFFFF;
	line-height:33px;
	border-bottom: 1px solid #cccccc;
	list-style-type:none;
	text-indent:4px;
}

.sub_menu ul li a
{
	text-decoration:none;
	color:#666;
	
	
}

.sub_menu ul li a.selected
{
	float: left;
	color: #FFFFFF;
	width: 184px;
	height: 34px;
	background-image: url(../images/menu_hover.jpg);
	background-repeat: repeat-y;
	background-position: right top;
	background-color: #0063A7;
}

.sub_menu ul li a:hover
{
	/*background-image: url(../images/menu_hover.jpg);*/
	background-repeat: repeat-y;
	background-position: right top;
	/*background-color: #0063A7;*/
	float:left;
	width:180px;
	height:34px;
	color:#FF9900;/*FFFFFF*/
}

.main_cont {
  background-color: #F7F9F9;
  border: 2px solid #EDF0F0;
  border-radius: 5px 5px 5px 5px;
  float: left;
  margin-left: 2px;
  margin-top: 5px;
  padding-left: 3px;
  padding-right: 0;
  padding-top: 10px;
  width: 180px;

}
 #menu_head {
  list-style: none outside none;
  margin: 0;
  padding: 10px 0 10px 10px;
  position: relative;
}


.tabla_alerta {
  -moz-border-radius: 3px 3px 3px 3px;
  background-color: #FFF5EE;
  border: 1px solid red;
  border-collapse: separate;
  color: #000000;
  font-size: 1em;
  padding: 3px;
  text-align: left;
}

 .texto_pequenio{
	font-size: 1em;
	color: #999
	width:150px;
 }


.datos_sgs table {
  border-collapse: collapse;
  border-spacing: 0;
  margin-left: 0;
}

.datos_sgs td.alt {
	background: none repeat scroll 0 0 #EFEFEF;
	text-align: left;
	/*width: 12%;*/
	vertical-align: top;
	padding: 5px;
}

.datos_sgs td.alt2 {
	background: none repeat scroll 0 0 #EFEFEF;
	text-align: left;
	vertical-align: top;
	padding: 10px;
}

.datos_sgs td {
	background: none repeat scroll 0 0 #FBFBFB;
	border-bottom: 1px solid #D9D9D9;
	padding: 5px;
	vertical-align: top;
}

.datos_sgs td.alt3 {
	background: none repeat scroll 0 0 #FFFFFF;
	border-bottom: 1px solid #D9D9D9;
	padding: 5px;
	vertical-align: top;
}
.datos_sgs th {
	color: #2571B7;
	font-size: 14px;
	font-weight: bold;
	padding: 7px 4px 2px;
	text-align: left;
	font-family: 'gobCLRegular';
	background-attachment: scroll;
	background-color: transparent;
	background-image: url(../images/line-top.jpg);
	background-repeat: repeat-x;
	background-position: left 31px;
}

.datos_sgs .th {
	color: #2571B7;
	font-size: 1.214em;
	font-weight: bold;
	padding: 7px 4px 2px;
	text-align: left;
	font-family: 'gobCLRegular';
	background-attachment: scroll;
	background-color: transparent;
	background-image: url(../images/line-top.jpg);
	background-repeat: repeat-x;
	background-position: left 53px;
}
#datos_user {
  font-size: 14px;
  margin-right: 5px;
  margin-top: 10px;
  text-align: right;
}

/****Estilos papeletas formulario ingreso consulta */


label { width: 10em; float: left; }
label.error { float: none; color: red; padding-left: .5em; vertical-align: top; }
p { clear: both; }
.submit { margin-left: 12em; }
em { font-weight: bold; padding-right: 1em; vertical-align: top; }

ul.tabs {
  border-bottom: 1px solid #d9d9d9;
  border-left: 1px solid #d9d9d9;
  float: left;
  height: 32px;
  list-style: none outside none;
  margin: 15px 0 0 0;
  padding: 0;
  width: 760px;
}
ul.tabs li {
	float: left;
	margin: 0;
	padding: 0;
	height: 31px;
	line-height: 31px;
	border: 1px solid #d9d9d9;
	border-left: none;
	margin-bottom: -1px;
	overflow: hidden;
	position: relative;
	background: #EFEFEF;
	border-radius: 5px 5px 0 0;
}
ul.tabs li a {
	text-decoration: none;
	color: #000;
	display: block;
	font-size: 1em;
	padding: 0 20px;
	border: 1px solid #fff;
	outline: none;
}
ul.tabs li a span {
	color: #D70026;
	font-size: 1.143em;
	font-family: gobCLBold;
}
ul.tabs li a:hover {
	background: #ccc;
}
html ul.tabs li.active, html ul.tabs li.active a:hover  {
	background: #fff;
	border-bottom: 1px solid #fff;
}

.tab_container {
	border-left: 1px solid #D9D9D9;
	border-right: 1px solid #D9D9D9;
	border-bottom: 1px solid #D9D9D9;
	border-top: 1px solid #D9D9D9;
	padding: 7px;
}

/****************Fin****************/



/*FORMULARIO REGISTRO*/

.cmxform  p.error  { 

color: red; 
}

.error { 

 border: 1px solid red; 
}
select.error {
	border: 1px solid red; 
}
option.error{  
	border: 2px solid red; 
	background-color:red;
}
label.error{

border: 0px solid ; 
font-size : 0.857em;
	color: red;
}

div.container2 {
	width : 500px;
	text-align: left;
	
	
}
div.container2 ol li {
	list-style-type: none;
	margin-left: 0px;
	border: 0px ;
}
div.container2 { 
display: none; 
}
.container2 label.error {
	display: inline;
}
/**********FIN******/

#consulta_cerrada input {
	background-image: url(../images/ico_cerrado.png);
	background-repeat: no-repeat;
	background-position: 5px center;
	padding-left: 25px;
}
#consulta_abierta input {
	background-image: url(../images/ico_abierto.png);
	background-repeat: no-repeat;
	background-position: 5px center;
	padding-left: 25px;
}
.datos_sgs table.textos {
	border-top: 1px solid #D9D9D9;
    border-left: 1px solid #D9D9D9;
	border-right: 1px solid #D9D9D9;
	margin-top: 10px;
}
.datos_sgs table.textos th {
    background-image: url("../../../../images/header-tabla-bg.png");
    background-position: left bottom;
    background-repeat: repeat-x;
    border-bottom: 1px solid #D9D9D9;
    border-right: 1px solid #D9D9D9;
    color: #000000;
    cursor: pointer;
    font-size: 1em;
    font-weight: normal;
    padding: 5px;
    text-align: left;
}
.datos_sgs table.textos td {
    border-left: 1px solid #D9D9D9;
}
.datos_sgs td.next_step {
	font-size: 	1.286em;
	text-align: center;
	border-bottom: none;
	padding-top: 20px;
	font-family: gobCLBold;
	background-color: #FFFFFF;
}
ul.index {
	padding-left: 20px;
}

ul.index li {
	list-style-position: outside;
	list-style-image: url(../images/bullet_new.png);
	margin-bottom: 10px;
}
ul.index li a {
}
td.textos {
	width: 28%;
	vertical-align: top;
}
span.mas, span.ver_mas {
	background-image: url(../images/ver.png);
	background-repeat: no-repeat;
	background-position: left center;
	padding-left: 25px;
	margin-left: 5px;
}
span.agregar_archivo {
	background-image: url(../images/adjuntar.png);
	background-repeat: no-repeat;
	background-position: left center;
	padding-left: 15px;
	margin-left: 5px;
}
span.historial {
	background-image: url(../images/historial.png);
	background-repeat: no-repeat;
	background-position: left center;
	padding-left: 25px;
	margin-left: 5px;
}
.no_border td {
	border: none;
}
.no_border td div td {
	border: solid 1px #d9d9d9;
}
.ficha_td {
	vertical-align: top;
}
#div_mail_expertos {
	clear: both;
	padding-top: 15px;
	padding-bottom: 15px;
}
td.descarga, td.descarga_archivo {
	text-align: center;
}
td.descarga a, td.descarga_archivo a {
	display: inline-block;
	text-indent: -5000px;
	background-image: url(../images/bajar.png);
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
}
td.modificar {
	text-align: center;
}
td.modificar a {
	display: inline-block;
	text-indent: -5000px;
	background-image: url(../images/editar.png);
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
}


/*************INICIO DE ATENCION**************/
  .boton{
        /*font-size:40px;
        font-family:Verdana,Helvetica;
        font-weight:bold;
		color:white;
        background:#638cb5;
        border:0px;
		width:600px;
        height:100px;*/
       }
	   .boton:hover {
	    background:#1B7AB4;
		 color:#fff;
	   }
.reloj{
        font-size:20px;
        font-family:Verdana,Helvetica;
        font-weight:bold;
        color:#ccc;
        
        border:0px;
        
       }
.filtro_tabla2 {
	width: 100%;
	margin-top: 15px;
	border-top: solid 1px #d9d9d9;
	border-left: solid 1px #d9d9d9;
	border-right: solid 1px #d9d9d9;
	background-color: #EFEFEF;
}
.filtro_tabla2 td {
	padding: 5px;
}
.margin_top {
	margin-top: 15px;
}
.main_cont .alerta_ultima {
	margin: 20px 5px 5px 2px;
	padding: 2px 5px;
	border: solid 1px #d2d2d2;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background-color: #FCFFFF;
	color: #666666;
}
.main_cont .alerta_ultima ul {
	padding: 2px;
	font-weight: normal;
	margin: 0 0 0 12px;
}
.main_cont .alerta_ultima ul li {
	list-style-image: url(../images/bullet_new.png);
}
.main_cont .alerta_ultima ul li {
	list-style-image: url(../images/bullet_new.png);
}
.datos_sgs table tr td input {
	margin-top: 0;
}

.botoncla {
	display: inline-block;
	margin: 10px 0;
	border: 1px solid #dadada;
	padding: 5px;
	cursor:pointer;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	font-size: 0.95em;
	background-color: #006CB7;
	color: #FFF;
}

.botonred {
	display: inline-block;
	margin: 10px 0;
	border: 1px solid #dadada;
	padding: 5px;
	cursor:pointer;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	font-size: 0.95em;
	background-color: #E63338;
	color: #FFF;
	margin-bottom: 0px;
	margin-top:10px;
	width:100px;
}

/*.botonredXXX {
  background-color: #FFF5EE;
  border: 1px solid #FFC4C4;
  border-radius: 3px 3px 3px 3px;
  color: #404040;
  cursor: pointer;
  display: inline-block;
  margin: 5px;
  padding: 3px;
}
*/
.botoncla:hover {
	background-color: #006DDD;
}

#contenido {
    margin: 10px 10px 0 0;
    /*min-width: 690px;*/
	/*max-width: 760px;*/
	max-width: 100%;
}

/* deumann.css*/
#mensaje_tool {
	border-color: #FF0000;
	border:1px;
	border-style:solid;
	background: #FFDFDD;
	font: Verdana, Arial, Helvetica, sans-serif;
	size:8px;
	display : none;
	position:absolute;
	top: 330px;
	left: 430px;
	width: 300px;
	text-align:center;
	padding:6px;
	z-index: 999;
}
/*
   .textos{
	margin: 6px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 2px;
	font-family: verdana, Arial, Helvetica, sans-serif;
	 font-size: 0.9em;
	font-weight: normal;

 }
*/

#contenido {
	color: #2C2C2C;
}
.textos {
}
.textos-rojo {
	color: #cc0000;
	text-align: center;
}
.textos_h2 {
	font-family: verdana, Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: bold;
}
.cuadro_light {
/*background-color: #f8f8f8;
		-moz-border-radius:5px 5px 5px 5px;
		padding: 5px;*/
	}
.cuadro_light_blue {
	border: 1px solid #999999;
	background-color: #D0E3FB;
	-moz-border-radius:5px 5px 5px 5px;
	padding: 5px;
}
.cuadro {
	border: 1px #ccc solid
}
/* ---------->>> jtip <<<---------------------------------------------------------------*/

#JT_arrow_left {
	background-image: url(../images/deuman/jtips/arrow_left.gif);
	background-repeat: no-repeat;
	background-position: left top;
	position: absolute;
	z-index:101;
	left:-12px;
	height:23px;
	width:10px;
	top:-3px;
}
#JT_arrow_right {
	background-image: url(../images/deuman/jtips/arrow_right.gif);
	background-repeat: no-repeat;
	background-position: left top;
	position: absolute;
	z-index:101;
	height:23px;
	width:11px;
	top:-2px;
}
#JT {
	position: absolute;
	z-index:100;
	border: 2px solid #CCCCCC;
	background-color: #fff;
}
#JT_copy {
	padding:10px 10px 10px 10px;
	color:#333333;
}
.JT_loader {
	background-image: url(../images/deuman/jtips/loader.gif);
	background-repeat: no-repeat;
	background-position: center center;
	width:100%;
	height:12px;
}
#JT_close_left {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	background-color: #CCCCCC;
	text-align: left;
	padding-left: 8px;
	padding-bottom: 5px;
	padding-top: 2px;
	font-weight:bold;
}
#JT_close_right {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	background-color: #CCCCCC;
	text-align: left;
	padding-left: 8px;
	padding-bottom: 5px;
	padding-top: 2px;
	font-weight:bold;
}
#JT_copy p {
	margin:3px 0;
}
#JT_copy img {
	padding: 1px;
	border: 1px solid #CCCCCC;
}
.jTip {
	cursor:help;
	text-decoration:none;
}
.tabla_rojo {
	background:url("../images/danger.png") no-repeat scroll left center #FFEAEA;
	font-weight : bolder;
	padding-bottom: 10px;
	padding-left: 50px;
	padding-top: 10px;
	width:70%;
	border:1px solid #FF8C8C;
	color:#333333;
	background-color: #fff5ee;
	font-size: 15px;
	-moz-border-radius:5px 5px 5px 5px;
}
.tabla_rojo_sin_ico {
	font-weight : bolder;
	padding:10px;
	width:70%;
	border:1px solid #FF8C8C;
	color:#333333;
	background-color: #fff5ee;
	font-size: 15px;
	-moz-border-radius:5px 5px 5px 5px;
}
.tabla_rojo_sin_ico_dup {
	font-weight : bold;
	padding-bottom :5px;
	padding-top :5px;
	padding-left :5px;
	padding-right :5px;
	width:90%;
	border:1px solid #FF8C8C;
	color:#333333;
	background-color: #fff5ee;
	font-size: 13px;
	height:5px;
	/*//-moz-border-radius:5px 5px 5px 5px;*/
}

.tabla_amarillo_sin_ico_dup {
	font-weight : bold;
	padding-bottom :5px;
	padding-top :5px;
	padding-left :5px;
	padding-right :5px;
	width:90%;
	/*border:1px solid #FFFF00;
	color:#333333;
	background-color: #fffff0;*/
	border:1px solid #FFFF00;
	color:#333333;
	background-color: #fffff0;
	font-size: 13px;
	height:5px;
	/*-moz-border-radius:5px 5px 5px 5px;*/
}

.tabla_verde_sin_ico_dup {
	font-weight : bolder;
	padding-bottom :15px;
	padding-top :5px;
	padding-left :5px;
	padding-right :5px;
	width:90%;
	border:1px solid #8BDA8F;
	color:#333333;
	background-color: #ebffe8;
	font-size: 13px;
	height:5px;
	/*-moz-border-radius:5px 5px 5px 5px;*/
}

.tabla_alerta a {
	font-family: erdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	text-align: left;
	color: #000000;
	text-decoration: none;
}
.tabla_amarillo {
	/*background:url("../images/warning.png") no-repeat scroll left center #fffff0;*/
	/*padding-bottom: 10px;
	padding-left: 50px;
	padding-top: 10px;*/
	border:1px solid #FF8C8C;
	color:#333333;
	background-color: #fffff0;
	-moz-border-radius:5px 5px 5px 5px;
}
.tabla_amarillo_sin_ico {
	padding: 10px;
	border:1px solid #FF8C8C;
	color:#333333;
	background-color: #fffff0;
	-moz-border-radius:5px 5px 5px 5px;
}
.tabla_verde {
	background-color: #EDF1F5;
	border: 1px solid #6AAAFF;
	border-radius: 5px 5px 5px 5px;
	color: #333333;
	float: right;
	margin-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-top: 10px;
}
.tabla_verde_sin_ico {
	padding:10px;
	border:1px solid #8BDA8F;
	color:#333333;
	background-color: #ebffe8;
	-moz-border-radius:5px 5px 5px 5px;
}
img.valign {
	height: 100%;
	vertical-align: middle;
}





/*****semilla*/


.semilla {
	color: #9F9F9F;
	font :11px/140% Verdana, Helvetica, sans-serif;
	text-align:right;
	padding:10px 0px 5px 0px;
	vertical-align:middle;
	margin-right:2px;
}
.semilla a {
	text-decoration: none;
	color: #FF6600;
	font :11px/140% Verdana, Helvetica, sans-serif;
	font-weight:bold;
}
.semilla a:visited, .breadcrumb a:active {
	font :11px/140% Verdana, Helvetica, sans-serif;
}
.semilla a:hover {
	text-decoration: underline;
}
/******fin semilla**/
/*****semilla_admin*/


.semilla_admin {
	color: #333333;
	font :11px/140% Verdana, Helvetica, sans-serif;
}
.semilla_admin a {
	text-decoration: none;
	color: #333333;
	font :11px/140% Verdana, Helvetica, sans-serif;
}
.semilla_admin a:visited, .breadcrumb a:active {
	font :11px/140% Verdana, Helvetica, sans-serif;
}
.semilla_admin a:hover {
	text-decoration: underline;
}
/******fin semilla_admin**/

/*contenedor info tp*/
.info_tp {
	position:fixed;
	margin-left:100%;
	border: solid #F00 1px;
	margin-left: 6px;
	background-color: #fff;
	z-index: 999;
	filter:alpha(opacity=70);
	opacity:0.7;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #333333;
	text-align: left;
	padding : 5px;
}
.info_tp:hover {
	filter:alpha(opacity=100);
	opacity:1;
}
/********************/

.msg_search {
	text-align : right;
	font-size: 10px;
	font-style: italic;
	color: #999999;
	display: none;
}
.jTip2 {
	text-decoration:none;
}

.derecha{
	float:right;
}
.izquierda{
	float:left;
}
.texto_plomo{
	
	color:#999999;
  font-size:10px;
  font-style:italic;
  text-align:left;
}

.btn_paginador
{
padding:2px;
cursor:pointer;
}

.tr_foot{
/*background-image:url(../images/bg_glass_65.png);*/
}

/*#sidebar {
	float: left; 
	width: 180px;
}*/
#mainContent { 
	margin: 10px 0 0 10px;
	padding: 0 10px 10px 10px;
} 

button{
	cursor:pointer;
}

/*Menú horizontal cn Ajax*/
/*************************/
ul.css-tabs {
    margin:0 !important;
    padding:0;
    height:30px;
    border-bottom:1px solid #666;
}
/* single tab */
ul.css-tabs li {
    float:left;
    padding:0;
    margin:0;
    list-style-type:none;
}
/* link inside the tab. uses a background image */
ul.css-tabs a {
    float:left;
    font-size:13px;
    display:block;
    padding:5px 30px;
    text-decoration:none;
    border:1px solid #666;
    border-bottom:0px;
    height:18px;
    background-color:#efefef;
    color:#777;
    margin-right:2px;
    position:relative;
    top:1px;
    outline:0;
    -moz-border-radius:4px 4px 0 0;
}
ul.css-tabs a:hover {
    background-color:#F7F7F7;
    color:#333;
}
/* selected tab */
ul.css-tabs a.current {
    background-color:#E5E5E5;
    border-bottom:1px solid #E5E5E5;
    color:#006CB7;
    cursor:default;
	font-weight:bold;
}
/* tab pane */
.css-panes div {
    display:none;
    /*border:1px solid #666;
    border-width:0 1px 1px 1px;*/
    min-height:150px;/*
    padding:15px 20px;
    /*background-color:#ddd;*/
}
/* get rid of those system borders being generated for A tags */
a:active {
    outline:none;
}
:focus {
    -moz-outline-style:none;
}

/*Tabla listado */
/****************/
#listado_wrapper {
	/* border: solid 1px; */
	  width: 100%;
	 /* white-space:nowrap;*/
	 vertical-align: top;
}
#listado_filter {
	float: left;
	width: 375px;
	height: 22px;
	background-color: #EFEFEF;
    border-right: 1px solid #D9D9D9;
	border-bottom: 1px solid #D9D9D9;
	border-top: 1px solid #D9D9D9;
	padding: 5px;
}
#listado_filter input {
	margin-left: 70px;
	margin-top:0;
}
#listado_length {
	float: left;
	text-align: left;
	width: 363px;
	height: 22px;
	background-color: #EFEFEF;
    border-left: 1px solid #D9D9D9;
	border-bottom: 1px solid #D9D9D9;
	border-top: 1px solid #D9D9D9;
	padding: 5px;
	margin-bottom: 20px;
}
#listado_length select {
	margin-left: 63px;
}
#listado {
	border: 1px solid #d9d9d9;
	border-right: none;
	width: 100%;
	border-collapse: collapse;
}
#listado th {
	border-bottom: 1px solid #d9d9d9;
	border-right: 1px solid #d9d9d9;
	color: #000;
	/*cursor: pointer;*/
	font-size: 1em;
	font-weight: bold;/*normal*/
	padding: 2px;
	background-image: url(../images/header-tabla-bg.png);
	background-repeat: repeat-x;
	background-position: left bottom;
	text-align: center;
}
#listado tfoot th {
	border-right: 1px solid #d9d9d9;
	color: #000;
	/*cursor: pointer;*/
	font-size: 1em;
	font-weight: normal;
	padding: 2px;
	background-image: url(../images/header-tabla-bg.png);
	background-repeat: repeat-x;
	background-position: left bottom;
	text-align: left;
}
#listado td {
	border-bottom: 1px solid #d9d9d9;
	border-right: 1px solid #d9d9d9;
	padding: 2px;
	/*text-align: left;*/
	/*text-decoration: none;*/
}
#listado a {
	color: #0099FF;
	font-family: Arial, Tahoma, sans-serif;
	font-weight: bold;
	font-size: 12px;
	padding: 0 2px;
	text-decoration: none;
	text-transform: uppercase;
}
td a.ver_detalle {
	text-indent:-9999px;
	display: block;
	height: 22px;
	width: 16px;
	background-image: url(../images/kate.png);
	background-repeat: no-repeat;
}
td a.eliminar {
	text-indent:-9999px;
	display: block;
	height: 22px;
	width: 16px;
	background-image: url(../images/delete.png);
	background-repeat: no-repeat;
}
#agregar{
	text-indent:-9999px;
	display: block;
	height: 22px;
	width: 16px;
	background-image: url(../images/add.png);
	background-repeat: no-repeat;
}

.btn {
  display: inline-block;
  *display: inline;
  /* IE7 inline-block hack */

  *zoom: 1;
  padding: 4px 15px 4px;
  margin-bottom: 0;
  font-size: 13px;
  line-height: 18px;
  color: #333333;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  vertical-align: middle;
  background-color: #f5f5f5;
  background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -ms-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: linear-gradient(top, #ffffff, #e6e6e6);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
  border: 1px solid #cccccc;
  border-bottom-color: #b3b3b3;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  cursor: pointer;
  *margin-left: .3em;
}

.btn-danger {
  background-color: #da4f49;
  background-image: -moz-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: -ms-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ee5f5b), to(#bd362f));
  background-image: -webkit-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: -o-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: linear-gradient(top, #ee5f5b, #bd362f);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ee5f5b', endColorstr='#bd362f', GradientType=0);
  border-color: #bd362f #bd362f #802420;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}
.btn-primary, .btn-primary:hover, .btn-warning, .btn-warning:hover, .btn-danger, .btn-danger:hover, .btn-success, .btn-success:hover, .btn-info, .btn-info:hover, .btn-inverse, .btn-inverse:hover {
  color: #FFFFFF;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.btn-danger:hover,
.btn-danger:active,
.btn-danger.active,
.btn-danger.disabled,
.btn-danger[disabled] {
  background-color: #bd362f;
}

.btn-success {
  background-color: #5bb75b;
  background-image: -moz-linear-gradient(top, #62c462, #51a351);
  background-image: -ms-linear-gradient(top, #62c462, #51a351);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#62c462), to(#51a351));
  background-image: -webkit-linear-gradient(top, #62c462, #51a351);
  background-image: -o-linear-gradient(top, #62c462, #51a351);
  background-image: linear-gradient(top, #62c462, #51a351);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#62c462', endColorstr='#51a351', GradientType=0);
  border-color: #51a351 #51a351 #387038;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
  text-decoration:none;
}

.btn-primary {
  background-color: #0074cc;
  background-image: -moz-linear-gradient(top, #0088cc, #0055cc);
  background-image: -ms-linear-gradient(top, #0088cc, #0055cc);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0055cc));
  background-image: -webkit-linear-gradient(top, #0088cc, #0055cc);
  background-image: -o-linear-gradient(top, #0088cc, #0055cc);
  background-image: linear-gradient(top, #0088cc, #0055cc);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0088cc', endColorstr='#0055cc', GradientType=0);
  border-color: #0055cc #0055cc #003580;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
  color: #FFFFFF;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.btn-info {
  background-color: #49afcd;
  background-image: -moz-linear-gradient(top, #5bc0de, #2f96b4);
  background-image: -ms-linear-gradient(top, #5bc0de, #2f96b4);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5bc0de), to(#2f96b4));
  background-image: -webkit-linear-gradient(top, #5bc0de, #2f96b4);
  background-image: -o-linear-gradient(top, #5bc0de, #2f96b4);
  background-image: linear-gradient(top, #5bc0de, #2f96b4);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5bc0de', endColorstr='#2f96b4', GradientType=0);
  border-color: #2f96b4 #2f96b4 #1f6377;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}
.btn-warning {
  background-color: #faa732;
  background-image: -moz-linear-gradient(top, #fbb450, #f89406);
  background-image: -ms-linear-gradient(top, #fbb450, #f89406);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fbb450), to(#f89406));
  background-image: -webkit-linear-gradient(top, #fbb450, #f89406);
  background-image: -o-linear-gradient(top, #fbb450, #f89406);
  background-image: linear-gradient(top, #fbb450, #f89406);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fbb450', endColorstr='#f89406', GradientType=0);
  border-color: #f89406 #f89406 #ad6704;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}
.btn-inverse {
  background-color: #414141;
  background-image: -moz-linear-gradient(top, #555555, #222222);
  background-image: -ms-linear-gradient(top, #555555, #222222);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#555555), to(#222222));
  background-image: -webkit-linear-gradient(top, #555555, #222222);
  background-image: -o-linear-gradient(top, #555555, #222222);
  background-image: linear-gradient(top, #555555, #222222);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#555555', endColorstr='#222222', GradientType=0);
  border-color: #222222 #222222 #000000;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}

.alert {
  padding: 8px 35px 8px 14px;
  margin-bottom: 18px;
  color: #c09853;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  background-color: #fcf8e3;
  border: 1px solid #fbeed5;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}
.alert-success {
  color: #468847;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}
.alert-error {
  color: #b94a48;
  background-color: #f2dede;
  border-color: #eed3d7;
  margin-top:0;
}
.alert-info {
  color: #3a87ad;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
.alert-block {
  padding-top: 14px;
  padding-bottom: 14px;
}
.alert-active {
  color: #000000;
  background-color: #FFFFCC;
  border-color: #FFFFCC;
}

caption{
	text-align:left;
	font-weight:bold;
	background-color:#FFFFD7;
	color:#2571B7;
	padding:5px;
}

.caption{
	text-align:left;
	font-weight:bold;
	background-color:#FFFFD7;
	color:#2571B7;
	padding:5px;
}

.bold{
	font-weight:bold;
}

.tabla_submenu {
	background-color: #EDF1F5;
	border: 1px solid #6AAAFF;
	border-radius: 5px 5px 5px 5px;
	color: #333333;
	/*float: left;*/
	margin-right: 10px;
	padding-bottom: 2px;
	padding-left: 10px;
	padding-top: 2px;
	font-weight:500;
	margin-top:2px;
	width:100%;
}

/*.seleccion{
	font-weight:bold;
	background-color:#3366CC;/*006699;*//*
	color:#FFFFFF;
}*/

form{
	padding-top:1px;
}

.datos_sgs th{
	color:#FF6600;
	font-weight:100;
}

#resultado{
	margin-top:15px;
}

#ui-datepicker-div { display: none; }

td a.descarga {
	text-indent:-9999px;
	display: block;
	/*height: 22px;*/
	width: 16px;
	background-image: url(../images/go-bottom.png);
	background-repeat: no-repeat;
}
td a.pdf {
	text-indent:-9999px;
	display: block;
	height: 22px;
	width: 16px;
	background-image: url(../images/pdf.png);
	background-repeat: no-repeat;
}

.separador {
    border-top: dotted 1px #2571B7;
    padding-top: 20px;
    text-align: center;
    font-size: 1.1em;
}

#menu h2 {
    font-family: gobCLLight;
    font-size: 1.143em;
    color: #063787;
    line-height: 35px;
    background-image: url(../images/sidebar-h2.fw.png);
    background-repeat: no-repeat;
    margin: 0;
    text-align: center;
}

#left{
	float: left;
    /*width: auto;*/
	width: 12%;
    overflow: hidden;
	/*position:fixed;*/
	margin-top:5px;
	margin-left:2px;
}

#rigth{
	width: 87%;
    float: right;
	margin-top:5px;
}

#menuv {
        border: 1px solid #ACCFE8;
        border-width: 1px 1px 0 1px;
        width: 136px;
        /*font: 80% "Trebuchet MS", Arial, Helvetica, sans-serif;*/
}
#menuv ul, li {
        list-style-type: none;
}

#menuv ul {
        margin: 0;
        padding: 0;
}

#menuv li {
        border-bottom: 1px solid #ACCFE8;
}

#menuv a {
        text-decoration: none;
        color: #3366CC;
        background: #F0F7FC;
        display: block;
        padding: 3px 6px;
        /*width: 136px;*/
		padding:5px;
}

#menuv .seleccion{
        font-weight:bold;
		background-color:#faa732;
		color:#FFFFFF;
}

#menuv .seleccion:hover{
        font-weight:bold;
		background-color:#faa732;
		color:#FFFFFF;
}

#menuv a:hover {
        background: #DBEBF6;
}